
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.virat
{
    max-width: max-content;
}
body {
    background-image: url("https://i.pinimg.com/originals/6e/e5/c7/6ee5c799d76bf37fc35d26e55acc8cf0.png");
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    font-size: 22px;
    text-shadow: 2px 2px 3px black, -2px -2px 3px black, 2px -2px 3px black, -2px 2px 3px black;
     color:#ffffff;
    line-height: 1.6;
}


header {
    background-color: #789c24;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}


nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #f00;
}


main {
    padding: 20px;
}


section {
    margin-bottom: 20px;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
